/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
} */


.container {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  
}

.home {
  border-left: 1px gray solid;
  border-right: 1px gray solid;
  height: 100vh;
  width: 33vw;
  
}

.trend {
  display: flex;
  border: solid gray;
  height: 100vh;
  width: 100vw;
}


